root = true

[*]
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{js,ts,json,ejs}]
indent_style = tab

[*.sql]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.yaml]
indent_style = space
